
.container{
    position:relative;
    text-align: center;
}


.speletajs, .dators{
position: relative;
float:left;
}

.rezultats {
    background-color: rgb(103, 143, 66);
    width:700px;
    height: 90px;
    text-align: center;
    font-weight: bold;
    font-size: 350%;
    
}

.speletajs {
    background-color: rgb(168, 167, 164);
    width:350px;
    height: 300px;
    font-size: 100px;
    text-align: center;
}

.dators {
    background-color: rgb(115, 116, 116);
    width: 350px;
    height:300px;
    font-size: 100px;
}

.rezultats p {
    padding-top: 15px;
}

.akmens, .skeres, .papirs {
font-size: 45%;
cursor: pointer;
border: none;
background: none;
}
